<main class="content">
    <div class="profile-container">
        <div class="profile-pic-section">
            <div class="profile-img-div">
                {{#if recycler.imageUrl}}
                <img class="profile-img" srcset="{{ recycler.imageUrl }}" alt="">
                {{else}}
                <img class="profile-img" src="/images/profile-placeholder.png" alt="Upcycler profile photo">
                {{/if}}
            </div>
            <p class="score">Score: <span id="upcycler-score">{{ recycler.score }}</span></p>
        </div>
        <div class="profile-info-section">
            <a href="/recycler/edit/{{recycler._id}}">Edit your profile <i class="fas fa-pencil-alt"></i></a>
            <div>
                <p class="keys">Recycler:</p>
                <p class="recycler-username">{{ recycler.userName }}</p>
            </div>
             {{#if recycler.companyName}}
            <div>
                <p class="keys">Company name:</p>
                <p>{{ recycler.companyName }}</p>
            </div>
            {{else}}
            <div class="hide"></div>
            {{/if}}
            {{#if recycler.description}}
            <div>
                <p class="keys">Description:</p>
                <p>{{ recycler.description }}</p>
            </div>
            {{else}}
            <div class="hide"></div>
            {{/if}}
            {{#if recycler.website}}
            <div>
                <p class="keys">Website:</p>
                <p>{{ recycler.website }}</p>
            </div>
            {{else}}
            <div class="hide"></div>
            {{/if}}
            {{#if recycler.address.country}}
            <div>
                <p class="keys">Country:</p>
                <p>{{ recycler.address.country }}</p>
            </div>
            {{else}}
            <div class="hide"></div>
            {{/if}}
            {{#if recycler.address.city}}
            <div>
                <p class="keys">City:</p>
                <p>{{ recycler.address.city }}</p>
            </div>
            {{else}}
            <div class="hide"></div>
            {{/if}}
            {{#if recycler.address.street}}
            <div>
                <p class="keys">Street:</p>
                <p>{{ recycler.address.street }}</p>
            </div>
            {{else}}
            <div class="hide"></div>
            {{/if}}
        </div>
    </div>
</main>