
<h1 id="first-title">Created with life in mind</h1>
<main class="content products-content footer-spacer">
    {{#each product}}
    <div class="main-container">
        <div class="product-container">
            <div class="product-image-container">
                {{#if imageUrl}}
                <img src="{{ imageUrl }}" alt="product-image">
                {{else}}
                <img src="http://productimages.brambleberry.com/2014_Product/Fragrance_Flavor_Ess/GreenTeaCucumber_FO238_Main_A.jpg" alt="product-image">
                {{/if}}
            </div>
            <h2 class="product-title"><a class="hover-shadow-box-animation" href="/products/product/{{this.id}}">{{this.name}}</a></h2>
            <h3>Produced by: {{this.upcycler.userName}}</h3>
            {{!-- <p class="product-description">this.description</p> --}}
        </div>
    </div>

    {{#if user}}
    <a href="/upcycler/product/{{this.id}}/edit">Edit</a>
    <a href="/upcycler/product/{{this.id}}/delete">Delete</a>
    {{/if}}

    {{/each}}
</main>


