<main class="content">
    <div class="single-product-container">
        <div class="single-product-img-div">
            {{#if product.imageUrl}}
            <img class="single-product-img" src="{{ product.imageUrl }}" alt="Product image">
            {{else}}
            <img class="single-product-img" src="https://cdn.shopify.com/s/files/1/1563/7945/products/Coconut-lifestyle_No_Logo_grande.jpg?v=1533226008" alt="Product image">
            {{/if}}
        </div>
        <div class="single-product-info-section">
            <div>
                <p class="keys">{{ product.name }}</p>
            </div>
            <div>
                <p class="keys">Description:</p>
                <p>{{ product.description }}</p>
            </div>
            <div>
                <p class="keys">Price:</p>
                <p>65413</p>
            </div>
            <div>
                <p class="keys">Built by:</p>
                <a href="/recycler/product?UpcyclerId={{product.upcycler.id}}"><p>{{ product.upcycler.userName }}</p></a>
            </div>
        </div>
    </div>
</main>

{{!-- Apply when the real route with ID will be working --}}
{{!-- {{#if user}}
    <a href="/upcycler/product/{{product.id}}/edit">Edit</a>
{{/if}} --}}